@model IEnumerable<Whoisvisiting.Domain.Entities.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" id="newContact">Creat New Contact</a>
</p>

<table id="contacts-table" class="table table-striped table-bordered" style="width:100%">
</table>

<partial name="~/Views/Shared/Dialogs/_DeleteDialog.cshtml" />
<partial name="~/Views/Shared/Dialogs/_EditDialog.cshtml" />
<partial name="~/Views/Shared/Dialogs/_CreateDialog.cshtml" />
